body 
{
	
	background-color:#036564;
	font-family: courier;
}


h2.codeBox
{
	position:relative;
	color:#FFFFFF;
	margin-bottom: 0px;
	text-align: center;
}

h1
{
	position:relative;
	color:#FFFFFF;
	margin-bottom: 0px;
	text-align: center;
	font-size: 32px;
}

div.codeBox
{
	border:rgba(187, 184, 179, 0.77) solid 1px;
	width:800px;
	left:50%;
	margin-left: -400px;
	padding-bottom: 0px;
	background-color:#036564;
	position: relative;

}

.lineNum
{
	color:rgba(187, 184, 179, 0.77);
	margin-left: 5px;
	margin-top: 8px;
	width:18px;
	float: left;
	font-size:20px;
}

#sourceCode
{
	color:#FFFFFF;
	width:800px;
	margin-top:-12px;
	font-size:20px;
	margin-left: 5px;
}

#tab
{
	margin-left: 1.5em;
}

#tab2
{
	margin-left: 3em;
}

#dropDown
{
	position: fixed;
	margin-left:-5px;
	margin-top: -20px;
	left:20px;
	width:120px;
	height:35px;
	border:solid 2px rgba(187, 184, 179, 0.77);
	border-top:none;
	text-align: center;
	color:#FFFFFF;
	font-size:16px;
	padding-top: 10px;
}

#dropDownBoarder
{
	position: fixed;
	height:100%;
	left:150px;
	width:120px;
}

a
{
	color: #FFFFFF;
	text-decoration: none;
}

a:hover
{
 text-decoration: underline;
}
